[core]
	excludesfile = ~/.gitignore_global
    editor = nvim
[user]
    name = siguma
    email = you8jun5@gmail.com

[color]
    diff = auto
    status = auto
    branch = auto
    ui = true

[alias]
    graph = "log --graph --pretty='format:%h %Cgreen%an%Creset | %s %Cred%d%Creset'"
    cm = commit -m
	st = status
	df = diff
	co = checkout
    pso = push origin
    plo = pull origin
	br = branch
	delete-merged-branches = !git branch --merged | grep -v \\* | xargs -I % git branch -d %
    pr = pull-request
    see = browse

[ghq]
    root = ~/src
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/Sourcetree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
