let mapleader=" "

nnoremap <c-h> gT
nnoremap <c-l> gt
nnoremap <leader>e $
nnoremap <leader>s ^
nnoremap <leader>g :action GotoDeclaration<cr>
nnoremap <leader>b :action Back<cr>
nnoremap <leader>f :action Forward<cr>
